/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0.1px;
}

.sidebar h1,h3 {
  color: #FFFFFF;
  text-align: center;   
}

.sidebar p {
  color: #000000;   
}


/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: ##E5E7E9;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Symbol indicating collapsible can be opened*/
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

/* Symbol indicating collapsible can be closed*/
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.content {
  text-align: center;
  display: none;
  overflow: hidden;
  background-color: #FFFFFF;
}

.box {
  color: #FFFFFF;
  text-align: center;
  border-style: solid;
  border-color: #E5E7E9; 
}

/* Style page content */
.main {
  margin-left: 30%; /* Same as the width of the sidebar */

}
